  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    color: black;
  }
  
  header,
  .forecast-header {
    font-family: "Secular One", sans-serif;
    line-height: 200%;
  }
  
  header,
  #search-button,
  .forecast-header {
    background-color: black;
  }
  
  #clear-history {
    background-color: black;
  }
  main {
    font-family: "Poppins", sans-serif;
  }
  
  /* ------ left side: search history ----- */
  .search-history .searched-city-btn {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
  }
  
    #current-weather {
    line-height: 200%;
  }
  
  .card-header {
    background-color: black;
  }
  .date-time {
    display: flex;
    justify-content: space-between;
  }
  
  #current-weather-icon,
  #forecast-weather-icon {
    width: 100px;
    height: 100px;
    margin: -20px;
  }
  
  .weather-conditions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
  .forecast-five-day {
    list-style: none;
    text-align: center;
    display: inline-block;
    justify-content: space-around;
    padding: 1%;
    margin: 1%;
    background: pink;
    border-radius: 10px;
  }
  
  .forecast-five-day {
    box-shadow: 
      rgba(0, 0, 0, 0.4) 0px 2px 4px,
      rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, 
      rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  .forecast-five-day li {
    position: relative;
    vertical-align: top;
  }